.character-card-container {
  width: 60vw;
  min-height: calc(100vh - (70px + 8vw));
  margin-top: calc(70px + 4vw);
  margin-bottom: 4vw;
}

@media only screen and (max-width: 850px) {
  .character-card-container {
    width: 80vw;
  }
}

.character-card {
  border-radius: 10px;
  min-height: 20vh;
}

.character-card-body {
  display: flex;
  align-items: stretch;
}

.image-container {
  margin: 1.5vw;
  margin-right: 0;
  align-items: center;
}

.img {
  border-radius: 10px;
  height: 100%;
}

.basic-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1.5vw;
  justify-content: space-around;
}

.info-table {
  table-layout: auto;
  width: 100%;
  text-align: left;
  border: 0;
  border-collapse: collapse;
}

.tr:hover {
  background-color: #809fff;
}

.info-header {
  padding: 3px 0 3px 10px;
  width: 40%;
  font-weight: 700;
}

.info-value {
  padding: 3px 10px 3px 0;
  width: 60%;
  font-weight: 500;
}

.see-more-button-container {
  display: flex;
  justify-content: flex-end;
}

.see-less-button-container {
  display: flex;
  justify-content: flex-end;
}

.expand-button {
  background: #809fff;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  border: none;
  margin-top: 5px;
  padding: 8px;
}

.expand-button:hover {
  background: #0124d2;
  color: #fff;
}

.expand-container {
  padding: 1.5vw;
  padding-top: 0;
}

.expand-title {
  text-align: start;
  font-weight: 700;
}

.extend-list {
  text-align: left;
  margin: 0;
  padding: 5px 0 0 1.5vw;
  list-style-type: square;
  font-weight: 500;
}

.extend-list-text {
  list-style-type: none;
  font-weight: 400;
  font-size: 14px;
  padding-bottom: 5px;
}
