.pagination {
  display: flex;
  justify-content: end;
}

.pagination-page-item {
  list-style-type: none;
  float: left;
  margin-bottom: 4vw;
}

.pagination-page-link {
  display: block;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}
